body {
    background:url(bg.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #20053e;
    color: #e3ddee;
    text-shadow: #131111;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img{
  height: 150px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}
video{
  height: 150px;
  width: 300px;
  object-fit: cover;
  background: url(OIP.jpeg);
}

section {
    margin-bottom: 1rem;
}
nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(31, 1, 51);
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a {
    text-decoration: none;
    color: beige;
}
nav ul li a:hover {
    color: rgb(212, 209, 16);
    font-size: 1.04rem;
}    

input[type="file"] {
    display: block;
    margin-bottom: 0.5rem;
}
.file{
  color: rgb(1, 7, 7);
  box-shadow: #131111;
  padding: 0.5rem 1rem;
  border: none;
  width: 200px;
  border-radius: 9px;
}
button {
    padding: 0.5rem 1rem;
    background-color: #460448;
    color: #fff;
    border: none;
    box-shadow: 5px 5px 10px black;
    width: 350px;
    outline: none;
    border-radius: 9px;
    cursor: pointer;
}
.fr{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;

}
footer{
  background-color: #20053e;
  height: 103px;
  display: flex;
  padding: 23px 123px;
  justify-content: space-evenly;
} 

button:hover {
    background-color: #555;
}
